body {
	border: 20px solid #D0D0D0;
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	height: 95vh;
	width: 97%;
}

nav {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

div {
	margin: 5% 10% 0 0;
}

h1 {
	font-size: 1.2em;
	margin: 0 0 8% 0;
}

a {
	background: no-repeat url("http://loremflickr.com/320/240");
  	border: 0;
  	height: 25%;
  	width: 25%;
}

h3 {
	display: flex;;
	flex-wrap: wrap;
}

.left-side {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

.first-box {
	background-color: #35BC7A;
	flex-direction: row;
	height: 33.33%;
	width: 66.66%;
}

.first-btn {
	height: 15%;
	margin: 0 10% 0 0;
	width: 15%;
}

.second-box {
	background-color: #FF9E00;
	height: 33.33%;
	width: 33.33%;
}

.third-box {
	background-color: #1E8BC4;
	height: 33.33%;
	width: 33.33%;
}

.fourth-box {
	background-color: #F15A49;
	height: 33.33%;
	width: 33.33%;
}

.fith-box {
	background-color: #35BC7A;
	height: 33.33%;
	width: 33.33%;
}

.sixth-box {
	background-color: #F86925;
	height: 33.33%;
	width: 33.33%;
}

.seventh-box {
	background-color: #1E8BC4;
	height: 33.33%;
	width: 33.33%;
}

.eighth-box {
	background-color: #F86925;
	height: 33.33%;
	width: 33.33%;
}

.right-side {
	height: 100%;
	width: 40%;
}

.main-image {
	height: 100%;
	width: 100%;
}

@media (max-width: 900px) {

	body {
		flex-direction: 
		column
	}
}